.about-body {
    background-color: #f8f9fa;
    padding: 30px 0;
  }
  
  .about-heading {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .about-heading h1 {
    font-size: 36px;
  }
  
  .about-heading p {
    font-size: 24px;
  }
  
  .developer-info {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 0 20px;
  }
  
  .developer-info h1 {
    font-size: 32px;
  }
  
  .developer-info p {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .developer-info i {
    margin-right: 10px;
  }
  